/* Dashboard Page CSS */
.dashboard-module-list-div {
    width: 100%;
    height: 58px;
}
.dashboard-module-list-div p {
    padding: 14px 0;
    margin: 0;
}
.dashboard-stats-div {
    width: 100%;
    background-color: #666666;
}
.dashboard-menu-table {
    width: 100%;
    table-layout: fixed;
}