/* Generic CSS */
body {
    background-color: #8B8B8B;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
    color: #111111;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 980px;
}
a {
    color: #F48C03;
    text-decoration: none !important;
    transition: 0.2s;
}
a:hover {
    color: #FFA42C;
    text-decoration: none !important;
    transition: 0.2s;
}
p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 1.2em;
    color: #111111;
    text-align:left;
    font-size: 14px;
    font-style:normal;
    font-weight:normal;
}
h1 {
    letter-spacing: 1px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    line-height: 1.4em;
    color: #111111;
    text-decoration: none;
    font-size: 20px;
}
h2 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1.4em;
    color: #111111;
    text-decoration: none;
    font-size: 16px
}
h3 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1.4em;
    color: #111111;
    text-decoration: none;
    font-size: 14px;
}
h4 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1.4em;
    color: #111111;
    text-decoration: none;
    font-size: 12px;
}
h5 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1.4em;
    color: #333333;
    text-decoration: none;
    font-size: 10px;
}
h6 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1.4em;
    color: #333333;
    text-decoration: none;
    font-size: 8px;
}
.bold {
    font-weight: bold !important;
}
.center {
    text-align: center !important;
}
.center-img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
.clear {
    clear: both;
}
.dark {
    background-color: #4B4B4B;
}
.divider {
    width: 90%;
    background-color: #FFFFFF;
    height: 2px;
    margin: 0 auto;
}
.float-wrapper {
    margin: 0 auto;
}
.hidden {
    display: none !important;
}
.init-cap {
    font-size: 120%;
}
.page-title {
    margin-left: 20px;
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 2px 2px #333333;
}
.small-text {
    font-size: 85%;
}
.white-text {
    color: #FFFFFF;
    text-shadow: 2px 2px #333333;
}

/* Text Coloring CSS */
.correct {
    color: #72f300 !important;
}
.highlight {
    color: #F48C03 !important;
}
.incorrect {
    color: #ff0000 !important;
}

.correct-check {
    background: url('../icons/green-check-sm.png');
}
.incorrect-x {
    background: url('../icons/red-x-sm.png');
}

/* Building-Block CSS */
#main-content {
    padding: 0;
    max-width: 960px;
    margin: 30px auto 30px auto;
}
.site-content {
    margin: 20px;
    padding: 30px;
}

/* Submit Button CSS */
.button {
    cursor: pointer;
    -moz-box-shadow:inset 0 1px 0 0 #fce2c1;
    -webkit-box-shadow:inset 0 1px 0 0 #fce2c1;
    box-shadow:inset 0 1px 0 0 #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffa42c), color-stop(1, #f48c03) );
    background:-moz-linear-gradient( center top, #ffa42c 5%, #f48c03 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa42c', endColorstr='#f48c03');
    background-color:#ffa42c;
    text-indent:0;
    border:1px solid #eeb44f;
    display:inline-block;
    color: #42250F;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:28px;
    line-height:25px;
    min-width:80px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0 #cc9f52;
    transition: 0.2s;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f48c03), color-stop(1, #ffa42c) );
    background:-moz-linear-gradient( center top, #f48c03 5%, #ffa42c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f48c03', endColorstr='#ffa42c');
    background-color:#f48c03;
    transition: 0.2s;
}.button:active {
     position:relative;
     top:1px;
     transition: 0.2s;
}

/* Code Block CSS */
ol.code {
    counter-reset: line;
    background: #FFFFFF;
    color: #111111;
    margin: 0;
    padding: 2px;
    width: 500px;
    list-style: none;
    box-shadow: 2px 2px 2px #222222;
}
ol.code li:before {
    counter-increment: line;
    content: counter(line) ". ";
    background: #444444;
    color: #DDDDDD;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px;
    padding-right: 5px;
    text-align: right;
    width: 40px;
}
ol.code code {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
ol.code li {
    background: #EEEEEE;
}
ol.code li:nth-child(even) {
    background: #CCCCCC;
}

/* Lesson Page CSS */
.lesson-div p {
    color: #FFFFFF !important;
    text-shadow: 1px 1px #333333;
}
.lesson-div p b {
    color: #F48C03;
}

/* Question Styling CSS */
.dark form p {
    color: #FFFFFF !important;
    text-shadow: 1px 1px #333333;
}