/* Navigation Menu CSS */
.main-title {
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 40px;
    text-align: left;
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 2px 2px #333333;
}
.accent-text {
    color: #F48C03 !important;
}
.nav-menu {
    color: #FFFFFF;
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 5px;
    right: 10px;
    text-shadow: 2px 2px 2px #333333;
    z-index: 100;
    font-size: 16px;
}
.nav-link {
    color: #FFFFFF;
    margin: 0 15px;
}
.nav-link:hover {
    color: #FFA42C;
    text-shadow: 2px 2px 2px #000000;
}
.menu-link {
    padding: 2px;
}
.menu-link img {
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 10px;
    z-index: 100;
}
#master-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 50;
    box-shadow: 2px 2px 2px 2px #333333;
    background-color: #4B4B4B;
    width: 100%;
}

/* Session Message CSS */
.session-message-wrapper {
    padding: 20px 0;
    position: relative;
    background-color: #F48C03;
    border-bottom: 1px solid #222222;
}
.session-message-close {
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
}
.session-message {
    color: #111111;
    margin: 0;
}