/* Navigation Menu CSS */
.main-title {
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 2px 2px #333333;
}
.menu-login {
    color: #FFFFFF;
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 17px;
    right: 30px;
    text-shadow: 2px 2px 2px #333333;
    z-index: 100;
}
.menu-account-info {
    margin: 0;
    color: #FFFFFF;
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 21px;
    right: 30px;
    text-shadow: 2px 2px 2px #333333;
    z-index: 100;
}
.menu-login:hover {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
}
.menu-link {
    padding: 2px;
}
.menu-link img {
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 10px;
    z-index: 100;
}
#master-header {
    padding: 5px 10px 5px 10px;
    height: 50px;
    z-index: 50;
    width: 100%;
    box-shadow: 2px 2px 2px 2px #333333;

    /* Header Background Gradient Settings */
    background: rgb(63,153,186); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(63,153,186,1) 1%, rgba(31,109,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(63,153,186,1)), color-stop(100%,rgba(31,109,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(63,153,186,1) 1%,rgba(31,109,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(63,153,186,1) 1%,rgba(31,109,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(63,153,186,1) 1%,rgba(31,109,155,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(63,153,186,1) 1%,rgba(31,109,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f99ba', endColorstr='#1f6d9b',GradientType=0 ); /* IE6-9 */
}
.nav-menu-ul {
    display: none;
    text-align: right;
    list-style-type: none !important;

    /* Nav Menu Gradient Settings */
    background: rgb(51,51,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(102,102,102,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(102,102,102,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}
.nav-menu-ul li {
    width: 200px;
}
.nav-menu-ul li a {
    padding: 10px;
    font-size: 20px;
    background: #3b3b3b;
    background: -o-linear-gradient(top, #3e3e3e, #383838);
    background: -ms-linear-gradient(top, #3e3e3e, #383838);
    background: -moz-linear-gradient(top, #3e3e3e, #383838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
    background: -webkit-linear-gradient(#3e3e3e, #383838);
    background: linear-gradient(top, #3e3e3e, #383838);
    display: block;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2e2e2e;
    text-decoration: none;
    text-shadow: 0 -1px 2px #222222;
    color: #F7F7F7;
}
.nav-menu-ul li a:hover {
    color: #FFFFFF;
    background: #404040;
    background: -o-linear-gradient(top, #484848, #383838);
    background: -ms-linear-gradient(top, #484848, #383838);
    background: -moz-linear-gradient(top, #484848, #383838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(1, #383838));
    background: -webkit-linear-gradient(#484848, #383838);
    background: linear-gradient(top, #484848, #383838);
}
.nav-menu-wrapper {
    padding: 5px;
}

/* Session Message CSS */
.session-message-wrapper {
    padding: 20px 0;
    position: relative;
    background-color: #B9FEF9;
    width: 100%;
    border-bottom: 1px solid #222222;
}
.session-message-close {
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
}
.session-message {
    color: #222222;
    margin: 0;
}